<section [ngClass]="isDark == true ? 'dark' : '' ">
  <div class="search">
    <input type="text" placeholder="Search City" (change)="search()" [(ngModel)]="city">
  </div>
  <div class="container" >
    <p *ngIf="!error">City Time : {{Citytime | titlecase}}</p>
    <p *ngIf="error">{{error}}</p>
    <div class="icons">
      <fa-icon [icon]="faMoon" *ngIf="!isDark" (click)="dark()"></fa-icon>
      <fa-icon [icon]="faSun" *ngIf="isDark" (click)="light()"></fa-icon>
    </div>
    <div class="time">
      <div class="time-colon">
        <div class="time-text">
          <span class="num hour_num">{{time | date : "hh"}}</span>
          <span class="text">Hours</span>
        </div>
        <span class="colon">:</span>
      </div>
      <div class="time-colon">
        <div class="time-text">
          <span class="num min_num">{{time | date : "mm"}}</span>
          <span class="text">Minutes</span>
        </div>
        <span class="colon">:</span>
      </div>
      <div class="time-colon">
        <div class="time-text">
          <span class="num sec_num">{{time | date : "a"}}</span>
          <span class="text">Meridiem</span>
        </div>
      </div>
    </div>
  </div>
</section>
